.theHeader{
    position: sticky;
    top: 0;
    background-color: #111;
    padding: 10px 20px 10px 20px;
}
.loginButton{
    position: absolute;
    font-size: 20px;
    background-color: black;
    border-radius: 30px;
    border-style: none;
    color: white;
    bottom: 7px;
    right: 0%;
    height: 30px;
    width: 90px;
}
.loginButton:hover{
    background-color: lightgray;
    color: black;
    transition: 0.2s;
}
.loginButton:active{
    transition: 0.1s;
    background-color: black;
    color: white;
}
.divButton{
    position: relative;
}
.titleAndBar{
    display: inline-flex;
}
.appTitleDiv{
    font-size: 16px;
    color: white;
    left: 0%;
    width: 100%;
    max-width: 250px;
    border-right-style: solid;
    
}
.appTitle{
    font-weight: 900;
    padding-right: 20px;
}
.registrarButton{
    position: absolute;
    font-size: 20px;
    background-color: black;
    border-radius: 30px;
    border-style: none;
    color: white;
    bottom: 7px;
    right: 10%;
    height: 30px;
    width: 120px;
}
.registrarButton:hover{
    background-color: lightgray;
    color: black;
    transition: 0.2s;
}
.registrarButton:active{
    transition: 0.1s;
    background-color: black;
    color: white;
}

