.linhaFilmesItens{
    margin-left: 20px;
}



.linha-cards{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}


.imagemFilme{
    width: 100%;
    max-height: 150px;
    margin-bottom: 5px;
    margin-left: 10px;
    transition: transform 450ms;
    padding-bottom: 230px;
    border-style: none;
    background: none;
}

.imagemFilme-large{
    width: 100%;
    max-height: 250px;
    margin-bottom: 5px;
    margin-left: 10px;
    transition: transform 450ms;
    padding-bottom: 300px;
    border-style: none;
    background: none;
}

.imagemFilme:hover{
    transform: scale(1.08);
}

.imagemFilme-large:hover{
    transform: scale(1.08);
}

.title{
    position: relative;
    display: flex;
    color: white;
    max-width: 500px;
    width: 100%;
    top: 10px;
    left: 20px;
}
.infoFilmes{
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 250px;
    margin-bottom: 5px;
}